@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Work+Sans:wght@400;500;800&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
 
body {
  background-color: black;

}

.wrapper {
  display: grid;
  border-style: solid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-gap: 5px;
  width: 100vw;
  height: 100vh;
  background-size:auto;
  background-position: top;
  background-image: url('./background.jpg');
  border-radius: 10px;   
}

h1 {
  color: white;    
  font-family: "Yellowtail", sans-serif;
  font-weight: 300;  
  font-size: 5vw;    
  animation: pulsate 0.11s ease-in-out infinite alternate;      
}

h2 {
  font-size: x-large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-self: center;
  color:darkgray;
  font-size:medium;
}

h4 {
  font-family: Helvetica, sans-serif;
  font-size: x-large;
  color: aqua;
}

.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #5271ff,
    0 0 82px #5271ff,
    0 0 92px #5271ff,
    0 0 102px #5271ff,
    0 0 151px #5271ff;
  }

.subtitle {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  a {
    color: aqua;
  }

  a:visited {
    color: aqua
  }  
  
 .one {
   border-style: solid;
   border-color: aqua;
   grid-column: 4 / 14;
   grid-row: 7 / 12;
   border-radius: 10px;
   background-color: rgba(0,0,0, 70%);
 }

.two {
  grid-column: 6 / 12;
  grid-row: 7 / 10;
  align-self: center;   
  text-align: center;  
 }

.two:hover {
  cursor: pointer;
}

.two p {
  font-family: 'Orbitron', sans-serif;
}

 .three {
  grid-row: 7 / 12;
  grid-column: 4 / 6;
  display: block;
  margin: 10px 10px;  
}

.aboutme {
  grid-row: 11 / 12;
  grid-column: 4 / 6;
  display: block;
  margin: 10px 5px;  
  text-align: center;    
}

.imgAboutMe {
  width: 120%;
  max-height: 60px;
  max-width: 120px;
  height: auto;
}

.aboutme:hover {
  cursor: pointer;
}

.imgProfile {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.imgProfile:hover {
  cursor: pointer;  
}


 .five {
   border-style: solid;
   border-color: red;
   grid-column: 8/10;
   grid-row: 10/12;
   display: block;
   margin: 20px 10px; 
   border-radius: 5px;
   text-align: center;  
   color: white;   
   background-size:77%;
   background-position: 47% 50%;
   background-image: url('./projects.png'); 
   box-shadow: 2px 2px 2px 1px rgba(235, 0, 0, 0.658);   
 }

 .five:hover {
   cursor: pointer;
 }

 .six {
   border-style: solid;
   border-color: rgb(70, 252, 70);
   grid-column: 10/12;
   grid-row: 10/12;
   display: block;
   border-radius: 5px;
   text-align: center;  
   margin: 20px 10px; 
   color: white;   
   background-size:180%;
   background-position: 13% 46%;
   background-image: url('./resume.png');
   box-shadow: 2px 2px 2px 1px rgba(69, 180, 69, 0.658);
 }

 .six:hover {
  cursor: pointer;
}

 .seven {
   border-style: solid;
   border-color: yellow;
   grid-row: 10 / 12;
   grid-column: 6/8;
   border-radius: 5px;
   margin: 20px 10px; 
   text-align: center; 
   background-size:90%;
   background-position: 40% 50%;
   background-image: url('./experience.png');   
   box-shadow: 2px 2px 2px 1px rgba(252, 228, 11, 0.658);
 }

 .seven:hover {
  cursor: pointer;
}

 .eigth {
  display: block;
  grid-row: 7 / 12;
  grid-column: 13 / 13;
  margin-right: 10px;
  margin-top: 7px;
  text-align: right;
}

.nine {
  grid-row: 7 / 12;
  grid-column: 6 / 13;
  margin: 15px;
  margin-right: 0px;
}

.thirteen {
  display: inline;
  grid-row: 7 / 12;
  grid-column: 12 / 14;
  margin-right: 45px;
}


#game {
  margin-top: 10px;
  margin-left: 2px;
  font-size:large;
  font-family: monospace;
  color: aqua;
}

#gameCursor {
  margin-top: 217px;
  margin-left: 2px;
  font-size:large;
  font-family: monospace;
  color: aquamarine;

    width: 0px;
    background: aqua;
    opacity: 50;
    display: inline-block;
    animation: blink 1s linear infinite alternate;  
}

#invitation {
  background-color:rgba(46, 46, 46, 0.644);
  grid-row: 7 / 12;
  grid-column: 12 / 14;
  margin-right: 45px;
  margin-bottom: 5px;
  margin-top: 5px;  
}

#invitation h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: x-large;
  text-align: center;
  /* transform: rotate(-90deg);; */
}

#invitation h2 {
  font-size: large;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;  
  text-align: center;  
}

#invitation p {
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.ten {
  display: inline;
  visibility: hidden;
  grid-row: 7 / 7;
  grid-column: 13 / 13;
  padding-top: 5px;
}

.ten:hover {
  cursor: pointer;
}


.eleven {
  display: inline;
  visibility: hidden;
  grid-row: 9 / 9;
  grid-column: 13 / 13;
}

.eleven:hover {
  cursor: pointer;
}


.twelve {
  display: inline;
  visibility: hidden;
  grid-row: 10 / 10;
  grid-column: 13 / 13;
}

.twelve:hover {
  cursor: pointer;
}


.certLogo {
  width: 100%;
  max-width: 25px;
  height: auto;
}

.icos {
  margin-bottom: 9px;
}

.itemFlex {
  flex:auto
}

h5 {
  color: aqua;
  font-size: 20px;
  margin-right: 20px;
  display: inline-block;
  font-family: monospace;
}

h5 span {
  height: 20px;
  margin-bottom: -4px;
  width: 3px;
  background: aqua;
  opacity: 50;
  display: inline-block;
  animation: blink 1s linear infinite alternate;
}

h6 {
  color: white;    
  font-family: "Yellowtail", sans-serif;
  font-weight: 70;  
  font-size: 2vw;    
  animation: pulsate 0.11s ease-in-out infinite alternate;      
}

.textScreenDetailStyle {
  margin-top: 10px;
  color:gainsboro;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pdfContainer {
  width: 100%;
  max-width: 25px;
  height: auto;
}

.closeText {
  display: inline;
}

.up {
  display: inline;
  visibility: hidden; 
  grid-row: 14 / 14;
  grid-column: 12 / 12;
}

.down {
  display: inline;
  visibility: hidden;
  grid-row: 15 / 15;
  grid-column: 12 / 12;
}

.right {
  display: inline;
  visibility: hidden;
  grid-row: 15 / 15;
  grid-column: 13 / 13;
}

.left {
  display: inline;
  visibility: hidden;
  grid-row: 15 / 15;
  grid-column: 11 / 11;
}

@media screen and (max-width: 700px) {
  .wrapper {
    display: grid;
    border-style: solid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-gap: 2px;
    width: 100vw;
    height: 100vh;
    background-size:auto;
    background-position: 43% 10%;
    background-image: url('./background.jpg');
    border-radius: 10px;   
  }

  .one {
    border-style: solid;
    border-color: aqua;
    grid-column: 2 / 16;
    grid-row: 2 / 16;
    border-radius: 10px;
    background-color: rgba(0,0,0, 70%);
  }
  .two {
    grid-column: 2 / 16;
    grid-row: 5 / 7;
    align-self: center;   
    text-align: center;  
   }
   .subtitle {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
  }

   h1 {
    color: white;    
    font-family: "Yellowtail", sans-serif;
    font-weight: 300;  
    font-size: 12vw;  
    animation: pulsate 0.11s ease-in-out infinite alternate;      
  }
  .three {
    grid-row: 2 / 5;
    grid-column: 2 / 16;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;    
  }

  .aboutme {
    grid-row: 4 / 6;
    grid-column: 8 / 12;
    margin: 30px 0px;  
    text-align: center;    
  }
  
  .imgAboutMe {
    width: 120%;
    max-height: 50px;
    max-width: 120px;
    height: auto;
  }

  .five {
    border-style: solid;
    border-color: red;
    grid-column: 8/12;
    grid-row: 7/9;
    display: block;
    /* margin: 20px 10px;  */
    border-radius: 5px;
    text-align: center;  
    color: white;   
    background-size:90%;
    background-position: 47% 50%;
    background-image: url('./projects.png'); 
    box-shadow: 2px 2px 2px 1px rgba(235, 0, 0, 0.658);   
  }

  .six {
    border-style: solid;
    border-color: rgb(70, 252, 70);
    grid-column: 12/15;
    grid-row: 7/9;
    display: block;
    border-radius: 5px;
    text-align: center;  
    margin-right: 15px;
    color: white;   
    background-size:220%;
    background-position: 19% 46%;
    background-image: url('./resume.png');
    box-shadow: 2px 2px 2px 1px rgba(69, 180, 69, 0.658);
  }

  .seven {
    border-style: solid;
    border-color: yellow;
    grid-row: 7 / 9;
    grid-column: 3/8;
    border-radius: 5px; 
    /* margin: 20px 10px;  */
    text-align: center; 
    background-size:110%;
    background-position: 40% 50%;
    background-image: url('./experience.png');   
    box-shadow: 2px 2px 2px 1px rgba(252, 228, 11, 0.658);
    margin-left: 15px;
    padding-left: 15px;
  }

  .eigth {
    display: block;
    grid-row: 9 / 16;
    grid-column: 14 / 15;
    /* margin-right:20px;
    margin-top: 20px; */
    text-align: right;
  }

  .nine {
    grid-row: 5 / 16;
    grid-column: 2 / 16;
    margin: 10px;
  }

  .ten {
    display: inline;
    visibility: hidden;
    grid-row: 5 / 6;
    grid-column: 14 / 15;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  h6 {
    color: white;    
    font-family: "Yellowtail", sans-serif;
    font-weight: 70;  
    font-size: 8vw;    
    animation: pulsate 0.11s ease-in-out infinite alternate;      
  }

  .eleven {
    display: inline;
    visibility: hidden;
    grid-row: 14 / 14;
    grid-column: 9 / 9;
  }
  
  .twelve {
    display: inline;
    visibility: hidden;
    grid-row: 15 / 15;
    grid-column: 9 / 9;
  }

  .thirteen {
    display: inline;
    grid-row: 9 / 13;
    grid-column: 4 / 14;
  }

  .up {
    display: inline;
    visibility: visible; 
    grid-row: 14 / 14;
    grid-column: 12 / 12;
  }
  
  .down {
    display: inline;
    visibility: visible; 
    grid-row: 15 / 15;
    grid-column: 12 / 12;
  }

  .right {
    display: inline;
    visibility: visible; 
    grid-row: 15 / 15;
    grid-column: 13 / 13;
  }
  
  .left {
    display: inline;
    visibility: visible; 
    grid-row: 15 / 15;
    grid-column: 11 / 11;
  }
}


@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

 @keyframes pulsate {
    
  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #5271ff,
      0 0 80px #5271ff,
      0 0 90px #5271ff,
      0 0 100px #5271ff,
      0 0 150px #5271ff;
  
  }
  
  0% {

    text-shadow:
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 18px #fff,
    0 0 38px #5271ff,
    0 0 73px #5271ff,
    0 0 80px #5271ff,
    0 0 94px #5271ff,
    0 0 140px #5271ff;
  }
}

